.gridcontainer{
    display: flex;
    flex-direction: column;
    height:100%;
    background-color: black; /*page background*/
    justify-content: center;
    align-items: center;
}
.grid{
    padding-top: 0;
    padding-bottom:0 ;
    padding-left: 0;
    width: 650px;
    height: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 103, 0); /* box color*/

    padding-left: 30px;
    padding-right: 30px;
    padding-top:30px;
    padding-bottom:30px;
    border: none;
    border-radius: 18px;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0,0,0,0.2);
}
html,body{
    height: 100%;
}
body{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
*{
    font-family:proxima nova;
    font-size: 28px;
}
.heading{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
}
.logo{
    height: 40px;
    margin-right: 10px;
}
.songimg{
    border-radius: 15px;
}
button{
    border: none;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.player{
    width: 75%;
    
}
.playeraudio1{
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0,0,0,0.2);
    border-radius: 25px;
    width: 100%;
}
.song-list-container {
  height: 400px;
  overflow-y: auto;
  width: 100%;
  background-color: rgb(255, 165, 89);
}


#song-list {
  list-style-type: none;
  padding: 0;
}

#song-list li {
  cursor: pointer;
  padding: 10px;
  text-align: center;
}
.controls{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;                
}       
.controls dev{
  width: 100px;
  height: 60px;
  margin: 20px;
  background: red ;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: green;
  cursor: pointer;
}
.currentSong {
  background-color: rgb(255, 230, 199);
}
.previous,
.play,
.next,
.original,
.shuffle{
    padding: 25px;
    cursor: pointer;
    border-radius: 50%;
}
.progress{
    -webkit-appearance: none;
    width: 500px;
    height: 6px;
    background: black;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 10px;
}

.progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: rgb(255, 165, 89);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 4px solid black;
    cursor: pointer;
    box-shadow: 0 5px 5px rgb(255, 26, 26, 0.22);
}

.slidercontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}





